@model KeyDailyTaskListClass
@{
    ViewData["Title"] = "KeyDailyTaskForm";
}

<!-- Form,Table -->
<div class="container p-0">
    <form id="KeyDailyTaskForm" method="post" onsubmit="return false;" class="needs-validation" novalidate>
        <div class="row">
            <div class="col-4">
                <div class="card card-custom">
                    <div class="card-header card-custom-header" style="background-color: #d9edf7;">Key งานประจำวัน</div>
                    <div class="card-body card-custom-body">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-12 col-form-label">
                                            วันที่&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="input-group has-validation p-0">
                                                <input id="txtDate"
                                                       class="form-control date-picker"
                                                       placeholder="dd/mm/yyyy"
                                                       onchange="OnChangeDate(this.form)"
                                                       required />
                                                <span class="input-group-text">
                                                    <i class="bi bi-calendar3"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field วันที่.
                                                </div>
                                                <input hidden
                                                       type="text"
                                                       class="form-control"
                                                       asp-for="sDate"
                                                       id="sDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                                            รอบเวลา&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <select asp-for="sTime" class="form-control form-select" id="ddlTime" onchange="OnChangeFilter(this.form)" required>
                                                        <option value="" selected>- Select -</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please require field รอบเวลา.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                            Group Mail&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <select asp-for="sGroupMail" class="form-control form-select" id="ddlGroupMail" onchange="OnChangeFilter(this.form)" required>
                                                        <option value="" selected>- Select -</option>
                                                        @if (@Model.lstGroupMail.Count > 0)
                                                        {
                                                            @foreach (var Item in @Model.lstGroupMail)
                                                            {
                                                                <option value="@Item.value">@Item.label</option>
                                                            }
                                                        }
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please require field Group Mail.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                            Type&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <select asp-for="sTypeMail" class="form-control form-select" id="ddlTypeMail" onchange="OnChangeFilter(this.form)" required>
                                                        <option value="" selected>- Select -</option>
                                                        @if (@Model.lstTypeMail.Count > 0)
                                                        {
                                                            @foreach (var Item in @Model.lstTypeMail)
                                                            {
                                                                <option value=@Item.value>@Item.label</option>
                                                            }
                                                        }
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please require field Type.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                            ส่งเป็น Lot
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="form-check">
                                                        @*<input class="form-check-input" type="checkbox" id="cbLot">*@
                                                        <input asp-for="IsLot" class="form-check-input" type="checkbox" id="cbLot" onchange="OnChangeFilter(this.form)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card card-custom" id="dvNolmalForm" style="display:none">
                    <div class="card-header card-custom-header" style="background-color: #8CC0DE;">จดหมายธรรมดา</div>
                    <div class="card-body card-custom-body">
                        <div id="NolmalForm" class="form-group row">
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-12 col-form-label">
                                        ส่วนผู้ส่ง&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sSender1"
                                                       id="txtSender1"
                                                       class="form-control"
                                                       placeholder="ส่วนผู้ส่ง"
                                                       autocomplete="off"
                                                       required>
                                                <span class="input-group-text">
                                                    <i class="bi bi-search"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field ส่วนผู้ส่ง.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                                        Reference&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sRef1"
                                                       id="txtRef1"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="Reference"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                        จำนวนฉบับ&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="nQuantity"
                                                       id="txtQuantity"
                                                       type="number"
                                                       class="form-control"
                                                       placeholder="จำนวนฉบับ"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                        จำนวนเงิน&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="nAmount1"
                                                       id="txtAmount1"
                                                       class="form-control"
                                                       type="number"
                                                       maxlength="10"
                                                       placeholder="จำนวนเงิน"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center p-1">
                            @*<input hidden type="checkbox" id="cbEdit" asp-for="IsEdit">*@
                            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success" onclick="OnClick('Submit',0,this.form)"><i class="bi bi-box-arrow-down"></i>&nbsp;Submit</button>
                            <button type="button" id="btnClear" name="btnClear" class="btn btn-secondary" onclick="Clear()"><i class="bi bi-arrow-clockwise"></i>&nbsp;Clear</button>
                        </div>
                    </div>
                </div>
                <div class="card card-custom" id="dvRegisterForm" style="display:none">
                    <div class="card-header card-custom-header" style="background-color: #8CC0DE;">จดหมายลงทะเบียน</div>
                    <div class="card-body card-custom-body">
                        <div id="RegisterForm" class="form-group row">
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-12 col-form-label">
                                        ส่วนผู้ส่ง&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sSender2"
                                                       id="txtSender2"
                                                       class="form-control"
                                                       placeholder="ส่วนผู้ส่ง"
                                                       autocomplete="off"
                                                       required>
                                                <span class="input-group-text">
                                                    <i class="bi bi-search"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field ส่วนผู้ส่ง.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                                        Reference&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sRef2"
                                                       id="txtRef2"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="Reference"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-12 col-sm-12 col-12 col-form-label">
                                        ชื่อผู้รับ&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sReceiver"
                                                       id="txtReceiver"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="ชื่อผู้รับ"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field ชื่อผู้รับ.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                        ปลายทาง&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sPostal"
                                                       id="txtPostal"
                                                       class="form-control"
                                                       placeholder="ปลายทาง"
                                                       maxlength="5"
                                                       autocomplete="off"
                                                       required>
                                                <span class="input-group-text">
                                                    <i class="bi bi-search"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field ปลายทาง.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                        จำนวนเงิน&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="nAmount2"
                                                       id="txtAmount2"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="จำนวนเงิน"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12 col-form-label">
                                        เลขที่ R/C&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sRCNumber1"
                                                       id="txtRCNumber1"
                                                       class="form-control"
                                                       maxlength="2"
                                                       onchange="OnChangeRCNumber(1)"
                                                       required />
                                                <input asp-for="sRCNumber2"
                                                       id="txtRCNumber2"
                                                       class="form-control"
                                                       maxlength="8"
                                                       onchange="OnChangeRCNumber(2)"
                                                       required />
                                                <input asp-for="sRCNumber3"
                                                       id="txtRCNumber3"
                                                       class="form-control"
                                                       maxlength="1"
                                                       onchange="OnChangeRCNumber(3)"
                                                       required />
                                                <button type="button" id="btnGenRC" class="btn btn-info" onclick="GenRCNumber()">RC</button>
                                                <div class="invalid-feedback">
                                                    Please require field เลขที่ R/C.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pb-1">
                            @*<input hidden type="checkbox" id="cbEdit" asp-for="IsEdit">*@
                            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success" onclick="OnClick('Submit',0,this.form)"><i class="bi bi-box-arrow-down"></i>&nbsp;Submit</button>
                            @*<button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="OnClick('Submit',0,this.form)"><i class="bi bi-plus-lg"></i>&nbsp;Add</button>*@
                            <button type="button" id="btnClear" name="btnClear" class="btn btn-secondary" onclick="Clear()"><i class="bi bi-arrow-clockwise"></i>&nbsp;Clear</button>
                        </div>
                    </div>
                </div>
                <div id="dvButton" class="pt-1">
                    @*<div id="dvButton" class="pt-1" style="display:none">*@
                    <button type="button" class="btn btn-primary btn-sm" onclick="Print()"><i class="bi bi-printer"></i>&nbsp;พิมพ์ใบรับฝากรวม</button>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#ModalEditSet" onclick="OpenModalEditSet()"><i class="bi bi-pencil-square"></i>&nbsp;แก้ไข/ลบงานประจำวัน (เลือกชุด)</button>
                </div>
            </div>
        </div>
        <input hidden asp-for="nID" id="txtID" />
    </form>
    <div class="row">
        <div class="col-12 pt-2">
            <div class="form-group" id="tbNolmal" style="display:none">
                <div class="table-responsive">
                    <table id="tbNormalData" class="table table-sm table-bordered table-striped bg-white table-break">
                        <thead style="color: white; background-color: #17679c;">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">รหัสส่วน</th>
                                <th style="text-align:center">รายละเอียด</th>
                                <th style="text-align:center">จำนวนฉบับ</th>
                                <th style="text-align:center">ค่าไปรษณียากร</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbyNormalData">
                            @if (@Model.lstNormal != null)
                            {
                                @if (@Model.lstNormal.Count != 0)
                                {
                                    @foreach (var item in @Model.lstNormal)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.nNo</td>
                                            <td style="text-align:center">@item.sDivCode</td>
                                            <td>@item.sDetail</td>
                                            <td style="text-align:center">@item.nQuantity</td>
                                            <td style="text-align:center">@item.nAmount</td>
                                            <td style="text-align:center">
                                                <button id="btnEdit" name="btnEdit" class="btn btn-sm btn-warning" onclick="OnEdit();"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button>
                                                @*<button id="btnDelete" name="btnDelete" class="btn btn-sm btn-danger" onclick="OnClick('Delete')"><i class="bi bi-trash"></i>&nbsp;Delete</button>*@
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @*                            @if (@Model.lstNormal == null || @Model.lstNormal.Count == 0)
                                {
                                <tr>
                                <td style="text-align:center" class="dataNotFound" colspan="6">
                                No Data.
                                </td>
                                </tr>
                                }
                            *@
                        </tbody>
                        @if (@Model.PagerCount > 1)
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        @if (@Model.PageNumber > 1)
                                        {
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="1">First</a>
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                                        }
                                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                                        {
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@pagenum">@pagenum</a>
                                        }
                                        @if (@Model.PageNumber != @Model.PagerCount)
                                        {
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PageNext">Next</a>
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagerCount">Last</a>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
            <div class="form-group" id="tbRegister" style="display:none">
                <div class="table-responsive">
                    <table id="tbRegisterData" class="table table-sm table-bordered table-striped bg-white table-break">
                        <thead style="color: white; background-color: #17679c;">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">นามผู้รับ</th>
                                <th style="text-align:center">ปลายทาง</th>
                                <th style="text-align:center">เลขที่ R/C</th>
                                <th style="text-align:center">ค่าไปรษณียากร</th>
                                <th style="text-align:center">รหัสส่วน</th>
                                <th style="text-align:center">เลขที่อ้างอิง</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbyRegisterData">
                            @if (@Model.lstRegister != null)
                            {
                                @if (@Model.lstRegister.Count != 0)
                                {
                                    @foreach (var item in @Model.lstRegister)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.nNo</td>
                                            <td>@item.sReceiverName</td>
                                            <td style="text-align:center">@item.sDestination</td>
                                            <td>@item.sRCNumber</td>
                                            <td style="text-align:right">@item.nAmount</td>
                                            <td style="text-align:center">@item.sDivCode</td>
                                            <td style="text-align:right">@item.sRef</td>
                                            <td style="text-align:center">
                                                <button id="btnEdit" name="btnEdit" class="btn btn-sm btn-warning" onclick="OnEdit();"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button>
                                                @*<button id="btnDelete" name="btnDelete" class="btn btn-sm btn-danger" onclick="OnClick('Delete')"><i class="bi bi-trash"></i>&nbsp;Delete</button>*@
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @*                            @if (@Model.lstRegister == null || @Model.lstRegister.Count == 0)
                                {
                                <tr>
                                <td style="text-align:center" class="dataNotFound" colspan="8">
                                No Data.
                                </td>
                                </tr>
                                }
                            *@
                        </tbody>
                        @if (@Model.PagerCount > 1)
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        @if (@Model.PageNumber > 1)
                                        {
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="1">First</a>
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                                        }
                                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                                        {
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@pagenum">@pagenum</a>
                                        }
                                        @if (@Model.PageNumber != @Model.PagerCount)
                                        {
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PageNext">Next</a>
                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagerCount">Last</a>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal : แก้ไขงานประจำวัน -->
<div class="modal fade" id="ModalEditSet" tabindex="-1" aria-labelledby="ModalLabelEditSet" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabelEditSet">แก้ไขงานประจำวัน (เลือกชุด)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="form-group row pb-3">
                            <label class="col-md-2 col-sm-12 col-12 col-form-label" style="text-align:right;">
                                ชุดที่&nbsp;<span class="text-danger">*</span>
                            </label>
                            <div class="col-md-3 col-sm-12 col-12">
                                <div class="form-group">
                                    <div class="input-group has-validation">
                                        <select asp-for="sTypeMail" class="form-control form-select" id="ddlTypeMail" onchange="OnChangeFilter(this.form)" required>
                                            <option value="" selected>- Select -</option>
                                            @if (@Model.lstTypeMail.Count > 0)
                                            {
                                                @foreach (var Item in @Model.lstTypeMail)
                                                {
                                                    <option value=@Item.value>@Item.label</option>
                                                }
                                            }
                                        </select>
                                        <div class="invalid-feedback">
                                            Please require field Type.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-12 col-form-label" style="text-align:right;">
                                <button type="button" class="btn btn-danger btn-sm" onclick="DeleteSet()"><i class="bi bi-archive"></i>&nbsp;Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group row pb-3">
                            <div class="form-group" id="dvEditSet">
                                <div class="table-responsive">
                                    <table id="tbEditSet" class="table table-sm table-bordered table-striped bg-white table-break">
                                        <thead style="color: white; background-color: #17679c;">
                                            <tr>
                                                <th style="text-align:center">No.</th>
                                                <th style="text-align:center">รหัสส่วน</th>
                                                <th style="text-align:center">รายละเอียด</th>
                                                <th style="text-align:center">จำนวนฉบับ</th>
                                                <th style="text-align:center">ค่าไปรษณียากร</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbyEditSet">
@*                                            @if (@Model.lstNormal != null)
                                            {
                                                @if (@Model.lstNormal.Count != 0)
                                                {
                                                    @foreach (var item in @Model.lstNormal)
                                                    {
                                                        <tr>
                                                            <td style="text-align:center">@item.nNo</td>
                                                            <td style="text-align:center"><input class="form-control" id="'txtDivCode_' + @item.nID" /></td>
                                                            <td>@item.sDetail</td>
                                                            <td style="text-align:center">@item.nQuantity</td>
                                                            <td style="text-align:center">@item.nAmount</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            @if (@Model.lstNormal == null || @Model.lstNormal.Count == 0)
                                            {
                                                <tr>
                                                    <td style="text-align:center" class="dataNotFound" colspan="5">
                                                        No Data.
                                                    </td>
                                                </tr>
                                            }
*@                                        </tbody>
                                        @if (@Model.PagerCount > 1)
                                        {
                                            <tfoot>
                                                <tr>
                                                    <td colspan="5" align="center">
                                                        @if (@Model.PageNumber > 1)
                                                        {
                                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="1">First</a>
                                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                                                        }
                                                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                                                        {
                                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@pagenum">@pagenum</a>
                                                        }
                                                        @if (@Model.PageNumber != @Model.PagerCount)
                                                        {
                                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PageNext">Next</a>
                                                            <a asp-controller="KeyDailyTask" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagerCount">Last</a>
                                                        }
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ArrDataNormal;
    var ArrDataRegister;

    //Function DatePicker
    $(function() {
        $('.date-picker').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            onClose: function(dateText, inst)
            {
                function isDonePressed()
                {
                    return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                }
                if (isDonePressed())
                {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
                    $('.date-picker').focusout()
                }
            },
            beforeShow : function(input, inst)
            {
                inst.dpDiv.addClass('month_year_datepicker')
                if ((datestr = $(this).val()).length > 0)
                {
                    year = datestr.substring(datestr.length-4, datestr.length);
                    month = datestr.substring(0, 2);
                    $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                    $(this).datepicker('setDate', new Date(year, month-1, 1));
                    $(".ui-datepicker-calendar").hide();
                }
            }
        })
        });
        $('#txtDate').focusin(function()
        {
            $('.ui-datepicker-calendar').css("display","none");
        }
    );

    //Bind DropDownList => Month
    var ArrTime = [
        {
            "value": "8.30",
            "label": "8.30 น."
        },
        {
            "value": "9.30",
            "label": "9.30 น."
        },
        {
            "value": "11.30",
            "label": "11.30 น."
        },
        {
            "value": "17.00",
            "label": "17.00 น."
        },
    ]
    for (i = 0; i < ArrTime.length; i++)
    {
        var data = '<option value="' + ArrTime[i].value + '">' + ArrTime[i].label + '</option>';
        $('#ddlTime').append(data);
    }

    //Function Autocomplete
    $(function() {
        $("#txtSender1").autocomplete({
            //autoFocus: true,
            //disabled: true,
            source: function (request, response) {
                 $.get('https://localhost:44396/KeyDailyTask/GetDropDownDivision').done(
                    function(res)
                    {
                        if(res)
                        {
                            response(res);
                        }
                    }
                );
            },
        });
        $("#txtSender2").autocomplete({
            //autoFocus: true,
            //disabled: true,
            source: function (request, response) {
                 $.get('https://localhost:44396/KeyDailyTask/GetDropDownDivision').done(
                    function(res)
                    {
                        if(res)
                        {
                            response(res);
                        }
                    }
                );
            },
        });
    });

    //Function On Change Date
    function OnChangeDate(form)
    {
        var txtDate = $('#txtDate').datepicker('getDate');
        if(txtDate){
            const yyyy = txtDate.getFullYear();
            let mm = txtDate.getMonth() + 1; // Months start at 0!
            let dd = txtDate.getDate();

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            var strDate = dd + '/' + mm + '/' + yyyy;
            if(strDate){
                document.getElementById("sDate").value = strDate;
            }
            OnChangeFilter(form);
        }
    }

    //Function On Change Filter
    function OnChangeFilter(form)
    {
        var txtDate = document.getElementById("sDate").value;
        var ddlTime = document.getElementById("ddlTime").value;
        var ddlGroupMail = document.getElementById("ddlGroupMail").value;
        var ddlTypeMail = document.getElementById("ddlTypeMail").value;
        var cbLot = $("#cbLot").is(":checked");
        if(txtDate && ddlTime && ddlGroupMail && ddlTypeMail)
        {
            if(cbLot)
            {
                OnHideForm('0',form);
            }
            else if(ddlTypeMail)
            {
                $.get('https://localhost:44396/KeyDailyTask/GetDropDownTypeMail').done(
                    function(res)
                    {
                        if(res)
                        {
                            let ArrData = res.filter(f => f.value == ddlTypeMail);
                            if(ArrData)
                            {
                                OnHideForm(ArrData[0].sTypeMailID,form);
                            }
                        }
                    }
                );
            }
            GetData();
        }
        else
        {
            dvNolmalForm.style.display = "none";
            tbNolmal.style.display = "none";
            dvRegisterForm.style.display = "none"
            tbRegister.style.display = "none";
            dvButton.style.display = "none";
        }
        Clear();
    }

    //Function On Hide Form
    function OnHideForm(TypeMail,form)
    {
        var dvNolmalForm = document.getElementById("dvNolmalForm");
        var dvRegisterForm = document.getElementById("dvRegisterForm");
        var tbNolmal = document.getElementById("tbNolmal");
        var tbRegister = document.getElementById("tbRegister");
        var dvButton = document.getElementById("dvButton");
        if(TypeMail)
        {
            switch(TypeMail)
            {
                case "0":
                    dvNolmalForm.style.display = "block";
                    tbNolmal.style.display = "block";
                    dvRegisterForm.style.display = "none"
                    tbRegister.style.display = "none";
                    dvButton.style.display = "block";
                    break;
                case "1":
                    dvRegisterForm.style.display = "block";
                    tbRegister.style.display = "block";
                    dvNolmalForm.style.display = "none";
                    tbNolmal.style.display = "none";
                    dvButton.style.display = "block";
                    break;
            }
        }
    }

    //Function On Change Type Mail
    function OnChangeTypeMail(ArrData)
    {
        console.log("ArrData",ArrData);
    }

    //Function Validation
    (function () {
      'use strict'

      var forms = document.querySelectorAll('.needs-validation')

      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()

    //Function OnClick case
    function OnClick(Mode,sID,form)
    {
        switch(Mode)
        {
            case "Submit":
                var txtSender1 = document.getElementById("txtSender1").value;
                var txtRef1 = document.getElementById("txtRef1").value;
                var txtQuantity = document.getElementById("txtQuantity").value;
                var txtAmount1 = document.getElementById("txtAmount1").value;

                var txtSender2 = document.getElementById("txtSender2").value;
                var txtRef2 = document.getElementById("txtRef2").value;
                var txtReceiver = document.getElementById("txtReceiver").value;
                var txtPostal = document.getElementById("txtPostal").value;
                var txtAmount2 = document.getElementById("txtAmount2").value;
                var txtRCNumber1 = document.getElementById("txtRCNumber1").value;
                var txtRCNumber2 = document.getElementById("txtRCNumber2").value;
                var txtRCNumber3 = document.getElementById("txtRCNumber3").value;

                if(txtSender1 && txtRef1 && txtQuantity && txtAmount1)
                {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to submit data?',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                form.submit();
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                }

                if(txtSender2 && txtRef2 && txtReceiver && txtPostal && txtAmount2 && txtRCNumber1 && txtRCNumber2 && txtRCNumber3)
                {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to submit data?',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                form.submit();
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                }
        //        //var forms = document.getElementsByClassName('needs-validation');
        //        //if (form.checkValidity() === true)
        //        //{
        //        //}
                break;
            case "Delete":
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to delete data?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                OnDelete(sID);
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                break;
        }
    }

    //Function Clear Form
    function Clear()
    {
        document.getElementById("txtID").value = null;

        document.getElementById("txtSender1").value = null;
        document.getElementById("txtRef1").value = null;
        document.getElementById("txtQuantity").value = null;
        document.getElementById("txtAmount1").value = null;
        //$("#cbEdit").prop('checked', false);

        document.getElementById("txtSender2").value = null;
        document.getElementById("txtRef2").value = null;
        document.getElementById("txtReceiver").value = null;
        document.getElementById("txtPostal").value = null;
        document.getElementById("txtAmount2").value = null;
        document.getElementById("txtRCNumber1").value = null;
        document.getElementById("txtRCNumber2").value = null;
        document.getElementById("txtRCNumber3").value = null;

        document.getElementsByClassName('needs-validation')[0].classList.remove("was-validated");
    }

    //Function Get Data
    function GetData()
    {
        let Obj = {
            sDate : document.getElementById("sDate").value,
            sTime : document.getElementById("ddlTime").value,
            sGroupMail : document.getElementById("ddlGroupMail").value,
            sTypeMail : document.getElementById("ddlTypeMail").value,
        }
        $.get('https://localhost:44396/KeyDailyTask/GetData_Normal',Obj).done(
            function(res)
            {
                if(res)
                {
                    ArrDataNormal = res;
                    if(res.length > 0)
                    {
                        for(i = 0; i < res.length; i++)
                        {
                            var html = "<tr><td style='text-align:center'>" + res[i].nNo +
                                "</td><td>" + res[i].sDivCode +
                                "</td><td>" + res[i].sDetail +
                                "</td><td style='text-align:right'>" + res[i].nQuantity +
                                "</td><td style='text-align:right'>" + res[i].nAmount +
                                "</td><td style='text-align:center'><button id='btnEdit' class='btn btn-sm btn-warning' onclick='OnEdit(1," + res[i].nID + ");'><i class='bi bi-pencil-square'></i>&nbsp;Edit</button>&nbsp;<button id='btnDelete' class='btn btn-sm btn-danger' onclick='OnClick('Delete')'><i class='bi bi-trash'></i>&nbsp;Delete</button></td></tr>";
                            $("#tbyNormalData").append(html);
                        }
                    }
                }
            }
        );

        $.get('https://localhost:44396/KeyDailyTask/GetData_Register',Obj).done(
            function(res)
            {
                if(res)
                {
                    ArrDataRegister = res;
                    if(res.length > 0)
                    {
                        for(i = 0; i < res.length; i++)
                        {
                            var html = "<tr><td style='text-align:center'>" + res[i].nNo +
                                "</td><td>" + res[i].sReceiverName +
                                "</td><td style='text-align:center'>" + res[i].sDestination +
                                "</td><td style='text-align:center'>" + res[i].sRCNumber +
                                "</td><td style='text-align:right'>" + res[i].nAmount +
                                "</td><td>" + res[i].sDivCode +
                                "</td><td>" + res[i].sRef +
                                "</td><td style='text-align:center'><button id='btnEdit' class='btn btn-sm btn-warning' onclick='OnEdit(2," + res[i].nID + ");'><i class='bi bi-pencil-square'></i>&nbsp;Edit</button>&nbsp;<button id='btnDelete' class='btn btn-sm btn-danger' onclick='OnClick('Delete')'><i class='bi bi-trash'></i>&nbsp;Delete</button></td></tr>";
                            $("#tbyRegisterData").append(html);
                        }
                    }
                }
            }
        );
    }

    //Function On Change RCNumber
    function OnChangeRCNumber(Num)
    {
        var txtRCNumber1 = document.getElementById("txtRCNumber1").value;
        var txtRCNumber2 = document.getElementById("txtRCNumber2").value;
        var txtRCNumber3 = document.getElementById("txtRCNumber3").value;
        switch(Num)
        {
            case 1:
                if(txtRCNumber1)
                {
                    document.getElementById("txtRCNumber1").value = txtRCNumber1.toUpperCase();
                }
                break;
            case 2:
                if(txtRCNumber2)
                {
                    if(txtRCNumber2.length < 8)
                    {
                        Swal.fire('Error, Checking Alert', "Please fill RC Number", 'error');
                    }
                }
                break;
            case 3:
                break;
        }
    }

    //Function Gen RCNumber
    function GenRCNumber()
    {
        var txtRCNumber2 = document.getElementById("txtRCNumber2").value + "";
        if (txtRCNumber2.length < 8)
        {
            return -1;
        }

        var wlist = [ 8, 6, 4, 2, 3, 5, 9, 7 ];
        var nNum = 0;
        for (let i = 0; i <= 7; i++)
        {
            let str = txtRCNumber2.substr(i, 1);
            let arr = wlist[i];
            if(str)
            {
                nNum = nNum + (parseInt(str) * parseInt(arr + ""));
            }
        }
        var Chk = 0;
        Chk = (nNum % 11);

        switch (Chk)
        {
            case 0:
                nNum = 5;
                break;
            case 1:
                nNum = 0;
                break;
            default:
                nNum = (11 - Chk);
                break;
        }
        document.getElementById("txtRCNumber3").value = nNum;
    }

    //Function On Edit
    function OnEdit(Mode,nID)
    {
        let ArrData;
        document.getElementById("txtID").value = nID;
        switch(Mode)
        {
            case 1:
                ArrData = ArrDataNormal.filter(f => f.nID == nID);
                if(ArrData)
                {
                    document.getElementById("txtSender1").value = ArrData[0].sDivCode;
                    document.getElementById("txtRef1").value = ArrData[0].sDetail;
                    document.getElementById("txtQuantity").value = ArrData[0].nQuantity;
                    document.getElementById("txtAmount1").value = ArrData[0].nAmount;
                }
                break;
            case 1:
                ArrData = ArrDataRegister.filter(f => f.nID == nID);
                if(ArrData)
                {

                }
                break;
        }
        console.log("ArrDataNormal",ArrDataNormal);
    }

    //Function ปริ้นใบรับฝากรวม
    function Print()
    {

    }

    //Function แก้ไขงานประจำวัน(เลือกชุด)
    function OpenModalEditSet()
    {
        if(ArrDataNormal.length > 0)
        {
            for(i = 0; i < ArrDataNormal.length; i++)
            {
                var html = "<tr><td style='text-align:center'>" + ArrDataNormal[i].nNo +
                    "</td><td><input class='form-control' type='text' value='" + ArrDataNormal[i].sDivCode +
                    "' /></td><td><input class='form-control' type='text'" + ArrDataNormal[i].sDetail +
                    " /></td><td style='text-align:right'><input class='form-control' type='number'" + ArrDataNormal[i].nQuantity +
                    " /></td><td style='text-align:right'><input class='form-control' type='number'" + ArrDataNormal[i].nAmount +
                    " /></td></tr>";
                $("#tbyEditSet").append(html);
                pushArray();
            }
        }
    }

    function pushArray()
    {
        var oTable = document.getElementById('tbyEditSet');
        var rowLength = oTable.rows.length;
        for (i = 0; i < rowLength; i++)
        {
            var oCells = oTable.rows[i].cells;
            var cellLength = oCells.length;
            for(var j = 0; j < cellLength; j++)
            {
                //oCells[j].getElementsByTagName("input")[0].value = j;
            }
        }
    }

    //Function ลบงานประจำวัน(เลือกชุด)
    function DeleteSet()
    {

    }
</script>

@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        Swal.fire('Action Completed', 'Data is already saved.', 'success');
    </script>
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        Swal.fire('Error, Checking Alert', '@TempData["Error"]', 'error');
    </script>
}
