@model KeyDailyTaskListClass
@{
    ViewData["Title"] = "KeyDailyTaskForm";
}

<div class="container p-0">
    <form id="KeyDailyTaskForm" method="post" onsubmit="return false;" class="needs-validation" novalidate>
        <div class="row">
            @*Form*@
            <div class="col-4">
                <div class="card card-custom">
                    <div class="card-header card-custom-header" style="background-color: #d9edf7;">Key งานประจำวัน</div>
                    <div class="card-body card-custom-body">
                        @*<form id="KeyDailyTaskForm" onsubmit="return GetData()" class="needs-validation" novalidate>*@
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            วันที่&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="input-group has-validation p-0">
                                                <input id="txtDate"
                                                       class="form-control date-picker"
                                                       placeholder="dd/mm/yyyy"
                                                       onchange="OnChangeDate(this.form)"
                                                       required />
                                                <span class="input-group-text">
                                                    <i class="bi bi-calendar3"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field วันที่.
                                                </div>
                                                <input hidden
                                                       type="text"
                                                       class="form-control"
                                                       asp-for="sDate"
                                                       id="sDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-4 col-md-12 col-sm-12 col-12">
                                            รอบเวลา&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <select asp-for="sTime" class="form-control form-select" id="ddlTime" onchange="OnChangeFilter(this.form)" required>
                                                        <option value="" selected>- Select -</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please require field รอบเวลา.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12">
                                            Group Mail&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <select asp-for="sGroupMail" class="form-control form-select" id="ddlGroupMail" onchange="OnChangeFilter(this.form)" required>
                                                        <option value="" selected>- Select -</option>
                                                        @if (@Model.lstGroupMail.Count > 0)
                                                        {
                                                            @foreach (var Item in @Model.lstGroupMail)
                                                            {
                                                                <option value=@Item.value>@Item.label</option>
                                                            }
                                                        }
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please require field Group Mail.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12">
                                            Type&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <select asp-for="sTypeMail" class="form-control form-select" id="ddlTypeMail" onchange="OnChangeFilter(this.form)" required>
                                                        <option value="" selected>- Select -</option>
                                                        @if (@Model.lstTypeMail.Count > 0)
                                                        {
                                                            @foreach (var Item in @Model.lstTypeMail)
                                                            {
                                                                <option value=@Item.value>@Item.label</option>
                                                            }
                                                        }
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please require field Type.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12">
                                            ส่งเป็น Lot
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="form-check">
                                                        @*<input class="form-check-input" type="checkbox" id="cbLot">*@
                                                        <input asp-for="IsLot" class="form-check-input" type="checkbox" id="cbLot" onchange="OnChangeFilter(this.form)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            @*Form*@
            <div class="col-8">
                <div class="card card-custom" id="dvNolmalForm" style="display:none">
                    <div class="card-header card-custom-header" style="background-color: #8CC0DE;">จดหมายธรรมดา</div>
                    <div class="card-body card-custom-body">
                        <div id="NolmalForm" class="form-group row">
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        ส่วนผู้ส่ง&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sSender"
                                                       id="txtSender1"
                                                       class="form-control"
                                                       placeholder="ส่วนผู้ส่ง"
                                                       autocomplete="off"
                                                       required>
                                                <span class="input-group-text">
                                                    <i class="bi bi-search"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field ส่วนผู้ส่ง.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-12 col-sm-12 col-12">
                                        Reference&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sRef"
                                                       id="txtRef1"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="Reference"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12">
                                        จำนวนฉบับ&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="nQuantity"
                                                       id="txtQuantity"
                                                       type="number"
                                                       class="form-control"
                                                       placeholder="จำนวนฉบับ"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12">
                                        จำนวนเงิน&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="nAmount"
                                                       id="txtAmount1"
                                                       class="form-control"
                                                       type="number"
                                                       maxlength="10"
                                                       placeholder="จำนวนเงิน"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pb-1">
                            @*<input hidden type="checkbox" id="cbEdit" asp-for="IsEdit">*@
                            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success" onclick="OnClick('Submit',0,this.form)"><i class="bi bi-box-arrow-down"></i>&nbsp;Submit</button>
                            <button type="button" id="btnClear" name="btnClear" class="btn btn-secondary" onclick="Clear()"><i class="bi bi-arrow-clockwise"></i>&nbsp;Clear</button>
                        </div>
                    </div>
                </div>
                <div class="card card-custom" id="dvRegisterForm" style="display:none">
                    <div class="card-header card-custom-header" style="background-color: #8CC0DE;">จดหมายลงทะเบียน</div>
                    <div class="card-body card-custom-body">
                        <div id="RegisterForm" class="form-group row">
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        ส่วนผู้ส่ง&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sSender"
                                                       id="txtSender2"
                                                       class="form-control"
                                                       placeholder="ส่วนผู้ส่ง"
                                                       autocomplete="off"
                                                       required>
                                                <span class="input-group-text">
                                                    <i class="bi bi-search"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field ส่วนผู้ส่ง.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-12 col-sm-12 col-12">
                                        Reference&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sRef"
                                                       id="txtRef2"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="Reference"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-lg-4 col-md-12 col-sm-12 col-12">
                                        ชื่อผู้รับ&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sReceiver"
                                                       id="txtReceiver"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="ชื่อผู้รับ"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field ชื่อผู้รับ.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-12">
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12">
                                        ปลายทาง&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="nPostal"
                                                       id="txtPostal"
                                                       type="number"
                                                       class="form-control"
                                                       placeholder="ปลายทาง"
                                                       maxlength="5"
                                                       autocomplete="off"
                                                       required>
                                                <span class="input-group-text">
                                                    <i class="bi bi-search"></i>
                                                </span>
                                                <div class="invalid-feedback">
                                                    Please require field ปลายทาง.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12">
                                        จำนวนเงิน&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="nAmount"
                                                       id="txtAmount2"
                                                       class="form-control"
                                                       maxlength="10"
                                                       placeholder="จำนวนเงิน"
                                                       required />
                                                <div class="invalid-feedback">
                                                    Please require field Reference.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pb-3">
                                    <label class="col-md-4 col-sm-12 col-12">
                                        เลขที่ R/C&nbsp;<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group has-validation">
                                                <input asp-for="sRCNumber1"
                                                       id="txtRCNumber1"
                                                       class="form-control"
                                                       maxlength="2"
                                                       onchange="OnChangeRCNumber(1)"
                                                       required />
                                                <input asp-for="sRCNumber2"
                                                       id="txtRCNumber2"
                                                       class="form-control"
                                                       maxlength="8"
                                                       onchange="OnChangeRCNumber(2)"
                                                       required />
                                                <input asp-for="sRCNumber3"
                                                       id="txtRCNumber3"
                                                       class="form-control"
                                                       maxlength="1"
                                                       onchange="OnChangeRCNumber(3)"
                                                       required />
                                                <button type="button" id="btnGenRC" class="btn btn-info" onclick="GenRCNumber()">RC</button>
                                                <div class="invalid-feedback">
                                                    Please require field เลขที่ R/C.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pb-1">
                            @*<input hidden type="checkbox" id="cbEdit" asp-for="IsEdit">*@
                            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success" onclick="OnClick('Submit',0,this.form)"><i class="bi bi-box-arrow-down"></i>&nbsp;Submit</button>
                            @*<button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary" onclick="OnClick('Submit',0,this.form)"><i class="bi bi-plus-lg"></i>&nbsp;Add</button>*@
                            <button type="button" id="btnClear" name="btnClear" class="btn btn-secondary" onclick="Clear()"><i class="bi bi-arrow-clockwise"></i>&nbsp;Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        @*Table*@
        <div class="col-12 pt-2">
            <div class="form-group" id="tbNolmal" style="display:none">
                <div class="table-responsive">
                    <table id="tbData" class="table table-sm table-bordered table-striped bg-white table-break">
                        <thead style="color: white; background-color: #17679c;">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">รหัสส่วน</th>
                                <th style="text-align:center">รายละเอียด</th>
                                <th style="text-align:center">จำนวนฉบับ</th>
                                <th style="text-align:center">ค่าไปรษณียากร</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.lstNormal != null)
                            {
                                @if (@Model.lstNormal.Count != 0)
                                {
                                    @foreach (var item in @Model.lstNormal)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.nNo</td>
                                            <td style="text-align:center">@item.sDivCode</td>
                                            <td>@item.sDetail</td>
                                            <td style="text-align:center">@item.nQuantity</td>
                                            <td style="text-align:center">@item.nAmount</td>
                                            <td style="text-align:center">
                                                <button id="btnEdit" name="btnEdit" class="btn btn-sm btn-warning" onclick="OnEdit();"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button>
                                                <button id="btnDelete" name="btnDelete" class="btn btn-sm btn-danger" onclick="OnClick('Delete')"><i class="bi bi-trash"></i>&nbsp;Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @if (@Model.lstNormal == null || @Model.lstNormal.Count == 0)
                            {
                                <tr>
                                    <td style="text-align:center" class="dataNotFound" colspan="6">
                                        No Data.
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if (@Model.PagerCount > 1)
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        @if (@Model.PageNumber > 1)
                                        {
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="1">First</a>
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                                        }
                                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                                        {
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@pagenum">@pagenum</a>
                                        }
                                        @if (@Model.PageNumber != @Model.PagerCount)
                                        {
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PageNext">Next</a>
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagerCount">Last</a>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
            <div class="form-group" id="tbRegister" style="display:none">
                <div class="table-responsive">
                    <table id="tbData" class="table table-sm table-bordered table-striped bg-white table-break">
                        <thead style="color: white; background-color: #17679c;">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">นามผู้รับ</th>
                                <th style="text-align:center">ปลายทาง</th>
                                <th style="text-align:center">เลขที่ R/C</th>
                                <th style="text-align:center">ค่าไปรษณียากร</th>
                                <th style="text-align:center">รหัสส่วน</th>
                                <th style="text-align:center">เลขที่อ้างอิง</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.lstRegister != null)
                            {
                                @if (@Model.lstRegister.Count != 0)
                                {
                                    @foreach (var item in @Model.lstRegister)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.nNo</td>
                                            <td>@item.sReceiverName</td>
                                            <td style="text-align:center">@item.sDestination</td>
                                            <td>@item.sRCNumber</td>
                                            <td style="text-align:right">@item.nAmount</td>
                                            <td style="text-align:center">@item.sDivCode</td>
                                            <td style="text-align:right">@item.sRef</td>
                                            <td style="text-align:center">
                                                <button id="btnEdit" name="btnEdit" class="btn btn-sm btn-warning" onclick="OnEdit();"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button>
                                                <button id="btnDelete" name="btnDelete" class="btn btn-sm btn-danger" onclick="OnClick('Delete')"><i class="bi bi-trash"></i>&nbsp;Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @if (@Model.lstRegister == null || @Model.lstRegister.Count == 0)
                            {
                                <tr>
                                    <td style="text-align:center" class="dataNotFound" colspan="8">
                                        No Data.
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if (@Model.PagerCount > 1)
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        @if (@Model.PageNumber > 1)
                                        {
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="1">First</a>
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                                        }
                                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                                        {
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@pagenum">@pagenum</a>
                                        }
                                        @if (@Model.PageNumber != @Model.PagerCount)
                                        {
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PageNext">Next</a>
                                            <a asp-controller="ManageUser" asp-action="KeyDailyTaskForm" asp-route-pageNumber="@Model.PagerCount">Last</a>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Set Control DatePicker : Date
    //$(function(){
    //    $('#txtDate').datepicker({
    //        format: "dd/mm/yyyy",
    //        todaybtn: "linked",
    //        orientation: "bottom auto",
    //        todayhighlight: true,
    //        autoclose: true,
    //    });
    //});

    $(function() {
        $('.date-picker').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            onClose: function(dateText, inst)
            {
                function isDonePressed()
                {
                    return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                }
                if (isDonePressed())
                {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
                    $('.date-picker').focusout()
                }
            },
            beforeShow : function(input, inst)
            {
                inst.dpDiv.addClass('month_year_datepicker')
                if ((datestr = $(this).val()).length > 0)
                {
                    year = datestr.substring(datestr.length-4, datestr.length);
                    month = datestr.substring(0, 2);
                    $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                    $(this).datepicker('setDate', new Date(year, month-1, 1));
                    $(".ui-datepicker-calendar").hide();
                }
            }
        })
        });
        $('#txtDate').focusin(function()
        {
            $('.ui-datepicker-calendar').css("display","none");
        }
    );

    //Bind DropDownList => Month
    var ArrTime = [
        {
            "value": "8.30",
            "label": "8.30 น."
        },
        {
            "value": "9.30",
            "label": "9.30 น."
        },
        {
            "value": "11.30",
            "label": "11.30 น."
        },
        {
            "value": "17.00",
            "label": "17.00 น."
        },
    ]
    for (i = 0; i < ArrTime.length; i++)
    {
        var data = '<option value="' + ArrTime[i].value + '">' + ArrTime[i].label + '</option>';
        $('#ddlTime').append(data);
    }

    $(function() {
        $("#txtSender1").autocomplete({
            //autoFocus: true,
            //disabled: true,
            source: function (request, response) {
                 $.get('https://localhost:44396/KeyDailyTask/GetDropDownDivision').done(
                    function(res)
                    {
                        response(res);
                    }
                );
            },
        });
        $("#txtSender2").autocomplete({
            //autoFocus: true,
            //disabled: true,
            source: function (request, response) {
                 $.get('https://localhost:44396/KeyDailyTask/GetDropDownDivision').done(
                    function(res)
                    {
                        response(res);
                    }
                );
            },
        });
    });

    function OnChangeDate(form)
    {
        var txtDate = $('#txtDate').datepicker('getDate');
        if(txtDate){
            const yyyy = txtDate.getFullYear();
            let mm = txtDate.getMonth() + 1; // Months start at 0!
            let dd = txtDate.getDate();

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            var strDate = dd + '/' + mm + '/' + yyyy;
            if(strDate){
                document.getElementById("sDate").value = strDate;
            }
            OnChangeFilter(form);
        }
    }

    function OnChangeFilter(form)
    {
        var txtDate = document.getElementById("sDate").value;
        var ddlTime = document.getElementById("ddlTime").value;
        var ddlGroupMail = document.getElementById("ddlGroupMail").value;
        var ddlTypeMail = document.getElementById("ddlTypeMail").value;
        var cbLot = $("#cbLot").is(":checked");
        if(txtDate && ddlTime && ddlGroupMail && ddlTypeMail)
        {
            if(cbLot)
            {
                OnHideForm('0',form);
            }
            else if(ddlTypeMail)
            {
                $.get('https://localhost:44396/KeyDailyTask/GetDropDownTypeMail').done(
                    function(res)
                    {
                        if(res)
                        {
                            let ArrData = res.filter(f => f.value == ddlTypeMail);
                            if(ArrData)
                            {
                                OnHideForm(ArrData[0].sTypeMailID,form);
                            }
                        }
                    }
                );
            }
            Clear();
        }
        else
        {
            dvNolmalForm.style.display = "none";
            tbNolmal.style.display = "none";
            dvRegisterForm.style.display = "none"
            tbRegister.style.display = "none"
            Clear();
        }
    }

    function OnHideForm(TypeMail,form)
    {
        var dvNolmalForm = document.getElementById("dvNolmalForm");
        var dvRegisterForm = document.getElementById("dvRegisterForm");
        var tbNolmal = document.getElementById("tbNolmal");
        var tbRegister = document.getElementById("tbRegister");
        if(TypeMail)
        {
            switch(TypeMail)
            {
                case "0":
                    dvNolmalForm.style.display = "block";
                    tbNolmal.style.display = "block";
                    dvRegisterForm.style.display = "none"
                    tbRegister.style.display = "none"
                    //form.get();
                    GetData();
                    break;
                case "1":
                    dvRegisterForm.style.display = "block";
                    tbRegister.style.display = "block";
                    dvNolmalForm.style.display = "none";
                    tbNolmal.style.display = "none";
                    break;
            }
        }
    }

    function OnChangeTypeMail(ArrData)
    {
        console.log("ArrData",ArrData);
    }

    //Function Validation
    (function () {
      'use strict'

      var forms = document.querySelectorAll('.needs-validation')

      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()

        //Function OnClick case

    //Function OnClick case
    function OnClick(Mode,sID,form)
    {
        switch(Mode)
        {
            case "Submit":
                var txtSender1 = document.getElementById("txtSender1").value;
                var txtRef1 = document.getElementById("txtRef1").value;
                var txtQuantity = document.getElementById("txtQuantity").value;
                var txtAmount1 = document.getElementById("txtAmount1").value;

                var txtSender2 = document.getElementById("txtSender2").value;
                var txtRef2 = document.getElementById("txtRef2").value;
                var txtReceiver = document.getElementById("txtReceiver").value;
                var txtPostal = document.getElementById("txtPostal").value;
                var txtAmount2 = document.getElementById("txtAmount2").value;
                var txtRCNumber = document.getElementById("txtRCNumber").value;

                if(txtSender1 && txtRef1 && txtQuantity && txtAmount1)
                {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to submit data?',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                form.submit();
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                }

                if(txtSender2 && txtRef2 && txtReceiver && txtPostal && txtAmount2 && txtRCNumber)
                {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to submit data?',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                form.submit();
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                }
                //var forms = document.getElementsByClassName('needs-validation');
                //if (form.checkValidity() === true)
                //{
                //    Swal.fire({
                //        title: 'Confirmation',
                //        text: 'Do you want to submit data?',
                //        icon: 'info',
                //        showCancelButton: true,
                //        confirmButtonColor: '#3085d6',
                //        cancelButtonColor: '#d33',
                //        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                //        cancelButtonText: '<i class="bi bi-x"></i> No',
                //        showLoaderOnConfirm: true,
                //        allowOutsideClick: false,
                //        timerProgressBar: true,
                //        preConfirm: function () {
                //            return new Promise(function (resolve, reject) {
                //                Swal.disableButtons();
                //                form.submit();
                //                Swal.close();
                //            });
                //        },
                //    }).then(function (d) {
                //        if (d.dismiss === Swal.DismissReason.cancel) {
                //            Swal.close();
                //        }
                //    });
                //}
                break;
            case "Delete":
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to delete data?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                OnDelete(sID);
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                break;
        }
    }

    //Function Clear Form
    function Clear()
    {
        document.getElementById("txtSender1").value = null;
        document.getElementById("txtRef1").value = null;
        document.getElementById("txtQuantity").value = null;
        document.getElementById("txtAmount1").value = null;
        //$("#cbEdit").prop('checked', false);

        document.getElementById("txtSender2").value = null;
        document.getElementById("txtRef2").value = null;
        document.getElementById("txtReceiver").value = null;
        document.getElementById("txtPostal").value = null;
        document.getElementById("txtAmount2").value = null;
        document.getElementById("txtRCNumber1").value = null;
        document.getElementById("txtRCNumber2").value = null;
        document.getElementById("txtRCNumber3").value = null;


        document.getElementsByClassName('needs-validation')[0].classList.remove("was-validated");
    }

    function GetData() {
        var data = new FormData(document.getElementById("KeyDailyTaskForm"));
        $.get('https://localhost:44396/KeyDailyTask/KeyDailyTaskForm').done(
            function(res)
            {
                //if(res)
                //{
                //    let ArrData = res.filter(f => f.value == ddlTypeMail);
                //    if(ArrData)
                //    {
                //        OnHideForm(ArrData[0].sTypeMailID,form);
                //    }
                //}
            }
        );
        return false;
    }

    function OnChangeRCNumber(Num)
    {
        var txtRCNumber1 = document.getElementById("txtRCNumber1").value;
        var txtRCNumber2 = document.getElementById("txtRCNumber2").value;
        var txtRCNumber3 = document.getElementById("txtRCNumber3").value;
        switch(Num)
        {
            case 1:
                if(txtRCNumber1)
                {
                    document.getElementById("txtRCNumber1").value = txtRCNumber1.toUpperCase();
                }
                break;
            case 2:
                if(txtRCNumber2)
                {
                    if(txtRCNumber2.length < 8)
                    {
                        Swal.fire('Error, Checking Alert', "Please fill RC Number", 'error');
                    }
                }
                break;
            case 3:
                break;
        }
    }

    function GenRCNumber()
    {
        var txtRCNumber2 = document.getElementById("txtRCNumber2").value + "";
        if (txtRCNumber2.length < 8)
        {
            return -1;
        }

        var wlist = [ 8, 6, 4, 2, 3, 5, 9, 7 ];
        var nNum = 0;
        for (let i = 0; i <= 7; i++)
        {
            let str = txtRCNumber2.substr(i, 1);
            let arr = wlist[i];
            if(str)
            {
                nNum = nNum + (parseInt(str) * parseInt(arr + ""));
            }
        }
        var Chk = 0;
        Chk = (nNum % 11);

        switch (Chk)
        {
            case 0:
                nNum = 5;
                break;
            case 1:
                nNum = 0;
                break;
            default:
                nNum = (11 - Chk);
                break;
        }
        document.getElementById("txtRCNumber3").value = nNum;
    }
</script>

@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        Swal.fire('Action Completed', 'Data is already saved.', 'success');
    </script>
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        Swal.fire('Error, Checking Alert', '@TempData["Error"]', 'error');
    </script>
}
