@model ManageUserListClass
@{
    ViewData["Title"] = "ManageUserForm";
}

<div class="container p-0">
    <div class="row">
        @*Form*@
        <div class="col-4">
            <div class="card card-custom">
                <div class="card-header card-custom-header" style="background-color: #d9edf7;">Add New User</div>
                <div class="card-body card-custom-body">
                    <form id="UserForm">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            OA User&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="sOAUserID" id="txtOAUserID" name="txtOAUserID" class="form-control" maxlength="10" placeholder="OA User" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-4 col-md-12 col-sm-12 col-12">
                                            Name Eng.&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="sName" id="txtName" name="txtName" class="form-control" maxlength="50" placeholder="Name Eng" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12">
                                            วันที่มีผล&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group date p-0" id="txtStartDate">
                                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                                    <span class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="bi bi-calendar3"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-4 col-sm-12 col-12">
                                            วันที่สิ้นสุด&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group date p-0" id="txtEndDate">
                                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                                    <span class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="bi bi-calendar3"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <button id="btnSubmit" name="btnSubmit" class="btn btn-success" onclick="OnClick('Submit')"><i class="bi bi-box-arrow-down"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
        @*Table*@
        <div class="col-8">
            <div class="form-group">
                <div class="table-responsive">
                    <table id="tbData" class="table table-sm table-bordered table-striped bg-white table-break SSCPro">
                        <thead style="color: white; background-color: #17679c;">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">OA User</th>
                                <th style="text-align:center">Name</th>
                                <th style="text-align:center">วันที่มีผล</th>
                                <th style="text-align:center">วันที่สิ้นสุด</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.lstData != null)
                            {
                                @if (@Model.lstData.Count != 0)
                                {
                                    @foreach (var item in @Model.lstData)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.nNo</td>
                                            <td style="text-align:center">@item.sOAUserID</td>
                                            <td>@item.sName</td>
                                            <td style="text-align:center">@item.sStartDate</td>
                                            <td style="text-align:center">@item.sEndDate</td>
                                            <td style="text-align:center">
                                                <button id="btnEdit" name="btnEdit" class="btn btn-sm btn-warning" onclick="OnEdit(@item.nID,'@item.sOAUserID','@item.sName','@item.sStartDate','@item.sEndDate');"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button>
                                                <button id="btnDelete" name="btnDelete" class="btn btn-sm btn-danger" onclick="OnClick('Delete',@item.nID)"><i class="bi bi-trash"></i>&nbsp;Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @if (@Model.lstData == null || @Model.lstData.Count == 0)
                            {
                                <tr>
                                    <td style="text-align:center" class="dataNotFound" colspan="6">
                                        No Data.
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if (@Model.PagerCount > 1)
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        @if (@Model.PageNumber > 1)
                                        {
                                            <a asp-controller="ManageUser" asp-action="ManageUserForm" asp-route-pageNumber="1">First</a>
                                            <a asp-controller="ManageUser" asp-action="ManageUserForm" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                                        }
                                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                                        {
                                            <a asp-controller="ManageUser" asp-action="ManageUserForm" asp-route-pageNumber="@pagenum">@pagenum</a>
                                        }
                                        @if (@Model.PageNumber != @Model.PagerCount)
                                        {
                                            <a asp-controller="ManageUser" asp-action="ManageUserForm" asp-route-pageNumber="@Model.PageNext">Next</a>
                                            <a asp-controller="ManageUser" asp-action="ManageUserForm" asp-route-pageNumber="@Model.PagerCount">Last</a>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var nID = 0;

    //function ready() {
    //    //Swal('Any fool can use a computer');
    //}

    //document.addEventListener("DOMContentLoaded", ready);

    //Set Control DatePicker : StartDate
    $(function(){
        $('#txtStartDate').datepicker({
            format: "dd/mm/yyyy",
            todaybtn: "linked",
            orientation: "bottom auto",
            todayhighlight: true,
            autoclose: true,
        });
    });

    //Set Control DatePicker : StartDate
    $(function(){
        $('#txtEndDate').datepicker({
            format: "dd/mm/yyyy",
            todaybtn: "linked",
            orientation: "bottom auto",
            todayhighlight: true,
            autoclose: true,
        });
    });

    function OnClick(Mode,nID = 0)
    {
        this.nID = nID;
        switch(Mode)
        {
            case "Submit":
                  Swal.fire({
                    title: 'Confirmation',
                    text: 'Do you want to submit data?',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '<i class="bi bi-check"></i> Yes',
                    cancelButtonText: '<i class="bi bi-x"></i> No',
                    showLoaderOnConfirm: true,
                    allowOutsideClick: false,
                    timerProgressBar: true,
                    preConfirm: function () {
                      return new Promise(function (resolve, reject) {
                      console.log("popopop")
                        Swal.disableButtons();
                        //if (fnYes != undefined) {
                        //  fnYes();
                        //}
                        Save();
                        Swal.close();
                      });
                    },
                  }).then(function (d) {
                      console.log(d)
                    if (d.dismiss === Swal.DismissReason.cancel) {
                      //if (fnNo != undefined) {
                      //  fnNo();
                      //}
                      Swal.close();
                    }
                  });
                break;
            case "Delete":
                    Swal.fire({
                    title: 'Confirmation',
                    text: 'Do you want to delete data?',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '<i class="bi bi-check"></i> Yes',
                    cancelButtonText: '<i class="bi bi-x"></i> No',
                    showLoaderOnConfirm: true,
                    allowOutsideClick: false,
                    timerProgressBar: true,
                    preConfirm: function () {
                        return new Promise(function (resolve, reject) {
                        Swal.disableButtons();
                        //if (fnYes != undefined) {
                        //  fnYes();
                        //}
                        OnDelete();
                        Swal.close();
                        });
                    },
                    }).then(function (d) {
                    if (d.dismiss === Swal.DismissReason.cancel) {
                        //if (fnNo != undefined) {
                        //  fnNo();
                        //}
                        Swal.close();
                    }
                    });
                break;
        }
    }

    //Function Save Data
    //$("#UserForm").submit(function(event) {})
    function Save()
    {
        let Obj = {
            nNo : 0,
            nID : 0,
            sOAUserID : document.getElementById("txtOAUserID").value,
            sRole : null,
            sName : document.getElementById("txtName").value,
            sDep : null,
            sEmail : null,
            sTel : null,
            dStartDate : null,
            dEndDate : null,
            sCreate : null,
            dCreateDate : null,
            sUpdate : null,
            dUpdateDate : null,
            IsDelete : false,
            sStartDate : document.getElementById("txtStartDate").value,
            sEndDate : document.getElementById("txtEndDate").value,
        }
        $.post('https://localhost:44396/ManageUser/SaveToDB', Obj ).done(
            function(res) {
                console.log("res",res);
            }
        );
    }

    //Function Edit Data
    function OnEdit(nID,sOAUserID,sName,sStartDate,sEndDate)
    {
        this.nID = nID;
        document.getElementById("txtOAUserID").value = sOAUserID;
        document.getElementById("txtName").value = sName;
        $('#txtStartDate').datepicker('setDate', new Date(sStartDate));
        $('#txtEndDate').datepicker('setDate', new Date(sEndDate));

        ////Start Date
        //let ArrStartDate = sStartDate.split('/');
        //let strStartDate = ArrStartDate[1] + '/' + ArrStartDate[0] + '/' + ArrStartDate[2];
        //let dStartDate = new Date(strStartDate);
        ////document.getElementById("txtStartDate").value = dStartDate;
        //document.getElementById("txtStartDate").value = formatDate(dStartDate);

        ////End Date
        //let ArrEndDate = sEndDate.split('/');
        //let strEndDate = ArrEndDate[1] + '/' + ArrEndDate[0] + '/' + ArrEndDate[2];
        //let dEndDate = new Date(strEndDate);
        ////document.getElementById("txtEndDate").value = dEndDate;
        //document.getElementById("txtEndDate").value = formatDate(dEndDate);
    }

    //Function Delete Data
    function OnDelete(){
        let Obj = {
            nID : this.nID,
        }
        $.post( 'https://localhost:44396/ManageUser/Delete', Obj ).done(
            function(res) {
                console.log("res",res);
            }
        );
    }

    function padTo2Digits(num) {
        let Str = num.toString().padStart(2, '0');
        return Str;
    }

    function formatDate(date) {
        let d = date.getDate();
        let m = date.getMonth() + 1;
        let y = date.getFullYear();
        let Str = [padTo2Digits(d),padTo2Digits(m),y,].join('/');
        return Str;
    }
</script>
