@model PayrollDataListClass
@{
    ViewData["Title"] = "PayrollData";
}

<div class="container p-0">
    <div class="text-center"><mark style="background-color: #fbc99d">ACC REG SEQ DIV AMT SIGN VENDER DETAIL DEPT<br>ระบบจัดเตรียมข้อมูลเรียบร้อยแล้วที่...T:\Postal\Export Data\POST.txt</mark></div>
    <hr>
    <form id="PayrollData">
        <div class="row form-group">
            <div class="col-2">เดือนที่ต้องการส่งข้อมูล</div>
            <div class="col-2 p-0">
                <div class="form-group row">
                    <div class="input-group">
                        <select class="form-control form-select" id="ddlMonth" asp-for="nMonth">
                            <option value="" selected>- Select -</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-2 p-0">
                <div class="form-group row">
                    <div class="input-group">
                        <select class="form-control form-select" id="ddlYear" asp-for="nYear">
                            <option value="" selected>- Select -</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-2 pl-1">
                <button type="submit" id="btnDownload" class="btn btn-primary" onclick="OnDownload()"><i class="bi bi-download"></i>&nbsp;Download</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="table-responsive">
        <table id="tbData" class="table table-sm table-bordered table-striped bg-white table-break">
            <thead style="color: white; background-color: #17679c;">
                <tr>
                    <th style="text-align:center">No.</th>
                    <th style="text-align:center">ACC</th>
                    <th style="text-align:center">REG</th>
                    <th style="text-align:center">SEQ</th>
                    <th style="text-align:center">DIV</th>
                    <th style="text-align:center">AMT</th>
                    <th style="text-align:center">SIGN</th>
                    <th style="text-align:center">VENDOR</th>
                    <th style="text-align:center">DETAIL</th>
                    <th style="text-align:center">DEPT</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.lstData != null)
                {
                    @if (@Model.lstData.Count != 0)
                    {
                        @foreach (var item in @Model.lstData)
                        {
                            <tr>
                                <td style="text-align:center">@item.nNo</td>
                                <td style="text-align:center">@item.ACC</td>
                                <td style="text-align:center">@item.REG</td>
                                <td style="text-align:center">@item.SEQ</td>
                                <td style="text-align:center">@item.DIV</td>
                                <td style="text-align:center">@item.AMT</td>
                                <td style="text-align:center">@item.SIGN</td>
                                <td style="text-align:center">@item.VENDOR</td>
                                <td style="text-align:center">@item.DETAIL</td>
                                <td style="text-align:center">@item.DEPT</td>
                            </tr>
                        }
                    }
                }
                @if (@Model.lstData == null || @Model.lstData.Count == 0)
                {
                    <tr>
                        <td style="text-align:center" class="dataNotFound" colspan="10">
                            No Data.
                        </td>
                    </tr>
                }
            </tbody>
            @if (@Model.PagerCount > 1)
            {
                <tfoot>
                    <tr>
                        <td colspan="10" align="center">
                            @if (@Model.PageNumber > 1)
                            {
                                <a asp-controller="PayrollData" asp-action="PayrollData" asp-route-pageNumber="1">First</a>
                                <a asp-controller="PayrollData" asp-action="PayrollData" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                            }
                            @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                            {
                                <a asp-controller="PayrollData" asp-action="PayrollData" asp-route-pageNumber="@pagenum">@pagenum</a>
                            }
                            @if (@Model.PageNumber != @Model.PagerCount)
                            {
                                <a asp-controller="PayrollData" asp-action="PayrollData" asp-route-pageNumber="@Model.PageNext">Next</a>
                                <a asp-controller="PayrollData" asp-action="PayrollData" asp-route-pageNumber="@Model.PagerCount">Last</a>
                            }
                        </td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    //Bind DropDownList => Month
    var ArrMonth = [
        {
            "value": "1",
            "label": "มกราคม"
        },
        {
            "value": "2",
            "label": "กุมภาพันธ์"
        },
        {
            "value": "3",
            "label": "มีนาคม"
        },
        {
            "value": "4",
            "label": "เมษายน"
        },
        {
            "value": "5",
            "label": "พฤษภาคม"
        },
        {
            "value": "6",
            "label": "มิถุนายน"
        },
        {
            "value": "7",
            "label": "กรกฎาคม"
        },
        {
            "value": "8",
            "label": "สิงหาคม"
        },
        {
            "value": "9",
            "label": "กันยายน"
        },
        {
            "value": "10",
            "label": "ตุลาคม"
        },
        {
            "value": "11",
            "label": "พฤศจิกายน"
        },
        {
            "value": "12",
            "label": "ธันวาคม"
        },
    ]
    for (i = 0; i < ArrMonth.length; i++) {
        var data = '<option value="' + ArrMonth[i].value + '">' + ArrMonth[i].label + '</option>';
        $('#ddlMonth').append(data);
    }

    //Bind DropDownList => Year
    var nYear = new Date().getFullYear() + 1;
    for (i = 1; i < 100; i++) {
        var data = '<option value="' + (nYear - i) + '">' + (nYear - i) + '</option>';
        $('#ddlYear').append(data);
    }

    function OnDownload()
    {
        var ddlMonth = document.getElementById("ddlMonth").value;
        var ddlYear = document.getElementById("ddlYear").value;
        console.log("ddlMonth",ddlMonth);
        console.log("ddlYear",ddlYear);
    }
</script>