@model ManageUnitDepartmentListClass
@{
    ViewData["Title"] = "ManageUnitDepartmentForm";
}

@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        Swal.fire('Action Completed', 'Data is already saved.', 'success');
        @*document.getElementById("ManageUnitDepartmentForm").reset();*@
</script>
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        Swal.fire('Error, Checking Alert', '@TempData["Error"]', 'error');
        @*document.getElementById("ManageUnitDepartmentForm").reset();*@
    </script>
}

<div class="container p-0">
    <div class="row">
        @*Form*@
        <div class="col-4">
            <div class="card card-custom">
                <div class="card-header card-custom-header" style="background-color: #d9edf7;">เพิ่มสาขา/หน่วยงาน</div>
                <div class="card-body card-custom-body">
                    <form id="ManageUnitDepartmentForm" method="post" onsubmit="return false;" class="needs-validation" novalidate>
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-5 col-md-6 col-sm-12 col-12">
                                            Division Code&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-7 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <input asp-for="SectionCode"
                                                           id="txtSectionCode"
                                                           placeholder="Division Code"
                                                           type="number"
                                                           class="form-control"
                                                           onKeyPress="if(this.value.length == 5) return false;"
                                                           onChange="if(this.value < 0){console.log(this.value);return false;}"
                                                           required />
                                                    <div class="invalid-feedback">
                                                        Please require field Division Code.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-lg-5 col-md-12 col-sm-12 col-12">
                                            Division Name&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-7 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <input asp-for="SectionName"
                                                           id="txtSectionName"
                                                           class="form-control"
                                                           maxlength="100"
                                                           placeholder="Division Name"
                                                           required />
                                                    <div class="invalid-feedback">
                                                        Please require field Division Name.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row pb-3">
                                        <label class="col-md-5 col-sm-12 col-12">
                                            Group Section&nbsp;<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-md-7 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="input-group has-validation">
                                                    <select class="form-control form-select" id="ddlGroupSection" asp-for="SectionGroup" required>
                                                        <option value="" selected>- Select -</option>
                                                        @if (@Model.lstGroupSection.Count > 0)
                                                        {
                                                            @foreach (var Item in @Model.lstGroupSection)
                                                            {
                                                                <option value=@Item.value>@Item.label</option>
                                                            }
                                                        }
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Please require field Group Section.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pb-1">
                            <input hidden type="checkbox" id="cbEdit" asp-for="IsEdit">
                            <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-success" onclick="OnClick('Submit','',this.form)"><i class="bi bi-box-arrow-down"></i>&nbsp;Submit</button>
                            <button type="reset" id="btnClear" name="btnClear" class="btn btn-secondary" onclick="Clear()"><i class="bi bi-arrow-clockwise"></i>&nbsp;Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @*Table*@
        <div class="col-8">
            <div class="form-group">
                <div class="table-responsive">
                    <table id="tbData" class="table table-sm table-bordered table-striped bg-white table-break">
                        <thead style="color: white; background-color: #17679c;">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">Divition Code</th>
                                <th style="text-align:center">Divition Name</th>
                                <th style="text-align:center">Group Section</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.lstData != null)
                            {
                                @if (@Model.lstData.Count != 0)
                                {
                                    @foreach (var item in @Model.lstData)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.nNo</td>
                                            <td style="text-align:center">@item.SectionCode</td>
                                            <td>@item.SectionName</td>
                                            <td style="text-align:center">@item.SectionGroupName</td>
                                            <td style="text-align:center">
                                                <button id="btnEdit" name="btnEdit" class="btn btn-sm btn-warning" onclick="OnEdit('@item.SectionCode','@item.SectionName','@item.SectionGroup');"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button>
                                                <button id="btnDelete" name="btnDelete" class="btn btn-sm btn-danger" onclick="OnClick('Delete','@item.SectionCode',null)"><i class="bi bi-trash"></i>&nbsp;Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @if (@Model.lstData == null || @Model.lstData.Count == 0)
                            {
                                <tr>
                                    <td style="text-align:center" class="dataNotFound" colspan="6">
                                        No Data.
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if (@Model.PagerCount > 1)
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        @if (@Model.PageNumber > 1)
                                        {
                                            <a asp-controller="ManageUnitDepartment" asp-action="ManageUnitDepartmentForm" asp-route-pageNumber="1">First</a>
                                            <a asp-controller="ManageUnitDepartment" asp-action="ManageUnitDepartmentForm" asp-route-pageNumber="@Model.PagePrevious">Previous</a>
                                        }
                                        @for (int pagenum = 1; pagenum <= @Model.PagerCount; pagenum++)
                                        {
                                            <a asp-controller="ManageUnitDepartment" asp-action="ManageUnitDepartmentForm" asp-route-pageNumber="@pagenum">@pagenum</a>
                                        }
                                        @if (@Model.PageNumber != @Model.PagerCount)
                                        {
                                            <a asp-controller="ManageUnitDepartment" asp-action="ManageUnitDepartmentForm" asp-route-pageNumber="@Model.PageNext">Next</a>
                                            <a asp-controller="ManageUnitDepartment" asp-action="ManageUnitDepartmentForm" asp-route-pageNumber="@Model.PagerCount">Last</a>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //function CreateTable(data) {
    //    var tbody = document.getElementById('tbData').getElementsByTagName('tbody')[0];
    //    tbody.innerHTML = "";
    //    $.each(data, function (i, item) {
    //        var newRow = tbody.insertRow();
    //        var newCell = newRow.insertCell();
    //        var newText = document.createTextNode(item.nNo);

    //        newCell.appendChild(newText);
    //        newCell.setAttribute("align", "center");

    //        newCell = newRow.insertCell();
    //        newText = document.createTextNode(item.sectionCode);
    //        newCell.appendChild(newText);
    //        newCell.setAttribute("align", "center");

    //        newCell = newRow.insertCell();
    //        newText = document.createTextNode(item.sectionName);
    //        newCell.appendChild(newText);
    //        newCell.setAttribute("align", "left");

    //        newCell = newRow.insertCell();
    //        newText = document.createTextNode(item.sectionGroupName);
    //        newCell.appendChild(newText);
    //        newCell.setAttribute("align", "center");

    //        let btn = document.createElement("button");
    //        btn.innerHTML = "<i class='bi bi-pencil-square'></i>&nbsp;Edit";
    //        btn.setAttribute("onClick", "OnEdit('" + item.sectionCode + "','" + item.sectionName + "','" + item.sectionGroup + "')");
    //        btn.type = "button";
    //        btn.name = "btnEdit";
    //        btn.style = "margin-right : 3px;";
    //        btn.className = "btn btn-sm btn-warning";
    //        document.body.appendChild(btn);

    //        let btn2 = document.createElement("button");
    //        btn2.innerHTML = "<i class='bi bi-trash'></i>&nbsp;Delete";
    //        btn2.setAttribute("onClick", "OnClick('Delete','" + item.sectionCode + "')");
    //        btn2.type = "button";
    //        btn2.name = "btnDelete";
    //        btn2.className = "btn btn-sm btn-danger";
    //        document.body.appendChild(btn2);

    //        newCell = newRow.insertCell();
    //        newText = document.createTextNode("");
    //        newCell.appendChild(btn);
    //        newCell.appendChild(btn2);
    //        newCell.setAttribute("align", "center");
    //    });
    //}

    ////Function Get Data
    //function GetData(){
    //    let Obj = {
    //        pageNumber : 0,
    //    }
    //    $.post( 'https://localhost:44396/ManageUnitDepartment/GetData', Obj ).done(
    //        function(res) {
    //            CreateTable(res);
    //            Clear();
    //        }
    //    );
    //}

    //Function OnClick case
    function OnClick(Mode,sID,form)
    {
        switch(Mode)
        {
            case "Submit":
                var txtSectionCode = document.getElementById("txtSectionCode").value;
                var txtSectionName = document.getElementById("txtSectionName").value;
                var ddlGroupSection = document.getElementById("ddlGroupSection").value;
                if(txtSectionCode && txtSectionName && ddlGroupSection)
                {
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to submit data?',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                //OnSave();
                                form.submit();
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                }
                break;
            case "Delete":
                    Swal.fire({
                        title: 'Confirmation',
                        text: 'Do you want to delete data?',
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '<i class="bi bi-check"></i> Yes',
                        cancelButtonText: '<i class="bi bi-x"></i> No',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        preConfirm: function () {
                            return new Promise(function (resolve, reject) {
                                Swal.disableButtons();
                                OnDelete(sID);
                                Swal.close();
                            });
                        },
                    }).then(function (d) {
                        if (d.dismiss === Swal.DismissReason.cancel) {
                            Swal.close();
                        }
                    });
                break;
        }
    }

    ////Function Save Data
    //function OnSave()
    //{
    //    let Obj = {
    //        IsEdit : document.getElementById("cbEdit").value,
    //        SectionCode : document.getElementById("txtSectionCode").value,
    //        SectionName : document.getElementById("txtSectionName").value,
    //        SectionGroup : document.getElementById("ddlGroupSection").value,
    //    }
    //    $.post('https://localhost:44396/ManageUnitDepartment/SaveToDB', Obj ).done(
    //        function(res) {
    //            if (res.status == "Success") {
    //                Swal.fire('Action Completed', 'Data is already saved.', 'success');
    //                GetData();

    //                //Set Value
    //                document.getElementById("txtSectionCode").value = null;
    //                document.getElementById("txtSectionName").value = null;
    //                document.getElementById("ddlGroupSection").value = null;
    //            } else {
    //                Swal.fire('Error, Checking Alert', res.massage, 'error');
    //            }
    //        }
    //    );
    //}

    //Function Edit Data
    function OnEdit(SectionCode,SectionName,SectionGroup)
    {
        let Value_SectionName = SectionName.trimEnd();
        let Value_SectionGroup = SectionGroup.trimEnd();

        document.getElementById("txtSectionCode").value = SectionCode;
        document.getElementById("txtSectionName").value = Value_SectionName;
        document.getElementById("ddlGroupSection").value = Value_SectionGroup;

        document.getElementById("txtSectionCode").readOnly = true;
        $("#cbEdit").prop('checked', true);
    }

    //Function Delete Data
    function OnDelete(sID){
        let Obj = {
            sID : sID,
        }
        $.post( 'https://localhost:44396/ManageUnitDepartment/Delete', Obj ).done(
            function(res) {
                if (res.status == "Success") {
                    Swal.fire('Action Completed', 'Data is already deleteds.', 'success');
                    //GetData();
                } else {
                    Swal.fire('Error, Checking Alert', res.massage, 'error');
                }
            }
        );
    }

    //Function Validation
    (function () {
      'use strict'

      var forms = document.querySelectorAll('.needs-validation')

      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()

    //Function Clear Form
    function Clear(){
        document.getElementById("txtSectionCode").value = null;
        document.getElementById("txtSectionName").value = null;
        document.getElementById("ddlGroupSection").value = "";
        document.getElementById("txtSectionCode").readOnly = false;
        $("#cbEdit").prop('checked', false);
    }
</script>

